<div class="main">
    <div class="movie-container">
        <label>
          Pick a Seat
        </label>
      </div>
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat seat-occupied"></div>
            <small>Occupied</small>
        </li>
        <li>
            <div class="seat seat-selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat seat-confirmed"></div>
            <small>Confirmed</small>
        </li>
        <li>
            <div class="seat seat-declined"></div>
            <small>Declined</small>
        </li>
    </ul>
    <div class="container">
        <div class="screen"></div>
        <div *ngFor="let row of rows" class="row justify-content-center">
            <div *ngFor="let index of seatsPerRow" [ngClass]="seatStatus(row,index)!" (click)="clickSeat(row,index)">
            </div>
        </div>
    </div>
    
  <div class="row">
        <button type="button" class="btn btn-danger mr-2" (click)="reserveSeats()">Reserve</button>
    </div>

</div>